:root {
    --white-text: #FFF;
    --black: #333333;
    --deep-blue: #222831;
}

body{
    margin: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
    padding-top: 1rem;
}

h1, h2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px; !important;
    color: var(--deep-blue);
}

.wight-colored-list{
    counter-reset: item;
    list-style-type: none;
}

.wight-colored-list li{
    counter-increment: item;
}

.navbar-brand{
    font-weight: bold;
    color: #FFF;
    font-size: 22px;
}

.navbar{
    background-color: var(--deep-blue);
    box-shadow: 1px 0 3px rgb(0, 0, 0);
}

.nav-link{
    color: var(--white-text) !important;
}

.navbar-nav, .nav-link {
    color: var(--white-text);
    font-weight: 500;
}

.container-logo {
    width: 100px;
}

.container > h2{
    margin-top: 10px;
}


.form-width-small {
    width: 180px !important;
    margin-right: 5px;
}

.nav-item {
    margin-right: 15px;
}

.price-highlight{
    font-size: 1.25rem;
    font-weight: bold;
    float: right;
    display: inline-block;
}

.card-shadow{
    box-shadow: 0.5px 0 4px rgba(0, 0, 0, 0.5);
}

.card-img-top{
    transform: scale(0.9);
}

.card-img-top:hover{
    transform: scale(1);
}

.footer-fill{
    background-color: var(--deep-blue);
    width: 100%;
}

.text-body-secondary{
    color: var(--white-text);
}

.cart-margin{
    margin-top: 5rem;
}

/*/SLIDER

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}*/


.wrapper {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  padding-left: 20px;
  border-radius: 10px;
}
.slider-container {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  font-size: small;
}
.slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
/*  top: 0;
  bottom: 0;*/
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  background-color: #3264fe;
  cursor: pointer;
  margin-top: -7px;
  pointer-events: auto;
  border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
  border: none;
}
input[type="range"]::-ms-thumb {
  appearance: none;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3264fe;
  pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 1px solid #3264fe;
}
.values {
  background-color: #3264fe;
  width: 32%;
  position: relative;
  margin: auto;
  padding: 4px 0;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
/*  font-size: 25px;*/
  color: #ffffff;
}
.values:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 10px solid #3264fe;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin: auto;
  bottom: -8px;
  left: 0;
  right: 0;
}